.categories-container {
	display: flex;
	flex-direction: column;
}
.categories {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	gap: 0.5rem;
	padding: 0;
	overflow: hidden;
}

.title {
	font-size: 1em;
	margin: 0.5em 0;
	font-weight: 500;
	color: var(--color-text);
}

label {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0.05rem;
	font-size: 0.8rem;
	position: relative;
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius-xs);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--color-text);
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover:not(.category-checked) {
		background: linear-gradient(
			135deg,
			var(--color-surface-secondary-hover),
			var(--color-surface-hover),
			var(--color-surface-secondary-hover)
		);
		color: var(--color-text);
		border-color: var(--color-border-hover);
	}
}

.icon {
	width: 2.5rem;
	height: 2.5rem;
	stroke-width: 1px;
	opacity: 0.15;
	color: var(--color-text);
}

.category-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.count {
	font-size: 0.65rem;
	color: var(--color-text-secondary);
}

.category-checked {
	.icon {
		opacity: 1;
	}
}

input[type="radio"] {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
}

input[type="radio"]:checked + label {
	background-color: red;
	color: var(--color-text);
}
