.categories-container {
	display: flex;
	flex-direction: column;
}
.categories {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 0.5rem;
	padding: 0;
}

.title {
	font-size: 1em;
	margin: 0.5em 0;
	font-weight: 500;
	color: var(--color-text);
}

label {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.05rem;
	font-size: 0.8rem;
	position: relative;
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius-xs);
	background: linear-gradient(
		135deg,
		var(--color-surface-secondary),
		var(--color-surface),
		var(--color-surface-secondary)
	);
	border: 1px solid var(--color-border);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--color-text);
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover:not(.category-checked) {
		background: linear-gradient(
			135deg,
			var(--color-surface-secondary-hover),
			var(--color-surface-hover),
			var(--color-surface-secondary-hover)
		);
		color: var(--color-text);
		border-color: var(--color-border-hover);
	}
}

.icon {
	width: 1.1rem;
	height: 1.1rem;
	stroke-width: 1px;
	color: var(--color-text);
}

.count {
	font-size: 0.65rem;
	color: var(--color-text-secondary);
}

.category-checked {
	background: linear-gradient(
		135deg,
		var(--color-accent-opacity),
		var(--color-hover-opacity),
		var(--color-accent-opacity)
	);
	color: var(--color-text);
	border-color: var(--color-accent);
}

input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

input[type="radio"]:checked + label {
	background-color: red;
	color: var(--color-text);
}
