.language-container {
	font-family: var(--font-family);
}

.title {
	font-size: 0.85em;
	font-weight: 400;
	margin: 0.25em 0;
	color: var(--color-text);
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.checkbox {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.check {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size-lg);
	height: var(--size-lg);
	border-radius: var(--radius-xs);
	background: var(--color-surface);
}

.check-icon {
	width: var(--size-md);
	height: var(--size-md);
	opacity: 0;
}

.language {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	border-radius: var(--radius-xs);
	padding: var(--size-xs) var(--size-md) var(--size-xs) var(--size-xs);
	background: linear-gradient(
		135deg,
		var(--color-surface-secondary),
		var(--color-surface),
		var(--color-surface-secondary)
	);
	border: 1px solid var(--color-border);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--color-text);
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover:not(.language-checked) {
		background: linear-gradient(
			135deg,
			var(--color-surface-secondary-hover),
			var(--color-surface-hover),
			var(--color-surface-secondary-hover)
		);
		color: var(--color-text);
		border-color: var(--color-border-hover);
	}
}

.language-name {
	font-weight: 300;
}

.language-checked {
	background: linear-gradient(135deg, #5dd1e530, #5dd1e530, #5dd1e530);
	color: var(--color-text);
	border-color: #45a9bb;

	.check {
		background: #5dd1e599;
	}

	.check-icon {
		color: #ffffff;
		opacity: 1;
	}
}

.icon {
	width: var(--size-lg);
	height: var(--size-lg);
}

.count {
	color: var(--color-text-secondary);
	font-size: var(--size-md);
}

.language-content {
	display: flex;
	align-items: center;
	font-size: 0.85em;
	gap: 0.5rem;
}
