.header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: var(--size-sm) var(--size-sm) var(--size-sm) var(--size-sm);
	background-color: var(--color-surface-b);
	border-bottom: 1px solid var(--color-border);
	z-index: 10;

	.back-button {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.85em;
		padding: var(--size-sm) var(--size-sm);
		text-decoration: none;
		border-radius: var(--radius-xs);
		background-color: transparent;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		color: var(--color-text);
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background-color: var(--color-surface-secondary-hover);
		}
	}
}

.share-container {
	position: relative;
}
.share-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: var(--size-sm) var(--size-sm);
	border-radius: var(--radius-xs);
	background-color: transparent;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--color-text);
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: var(--color-surface-secondary-hover);
	}
}

.share-options {
	position: absolute;
	top: 2.6em;
	right: 0;
	height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--color-surface);
	border-radius: var(--radius-xs);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--color-text);
	transition: all 0.3s ease;
	transform: scaleY(0);
	transform-origin: top;
	z-index: 10;
}

.share-options-active {
	transform: scaleY(1);
	height: auto;
}

.share-option {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	min-width: max-content;
	width: 100%;
	padding: var(--size-sm) var(--size-sm);
	border: none;
	border-radius: var(--radius-xs);
	color: var(--color-text);
	background-color: transparent;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--color-surface-secondary-hover);
	}
}
