.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	border-radius: var(--radius-xs);
	background: linear-gradient(
		135deg,
		var(--color-surface-d),
		var(--color-surface-e),
		var(--color-surface-d)
	);
	border: 1px solid var(--color-border);
	box-shadow: 0 0 2px 2px rgba(1, 5, 17, 0.6);
	color: var(--color-text);
	transition: all 0.3s ease;
	overflow: hidden;

	&:hover {
		color: var(--color-text);

		img {
			transform: scale(1.05);
		}

		.button-details {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}

		h2 {
			color: var(--color-secondary);
		}

		.picture::after {
			background: linear-gradient(
				0deg,
				#000000 0%,
				#00000080 10%,
				#00000030 50%,
				#00000030 100%
			) !important;
		}
	}

	.picture {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: flex-start;
		position: relative;
		height: 200px;
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-position: top left;
			object-fit: cover;
			border-radius: var(--radius-xs);
			transition: all 0.3s ease;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, #000000 0%, #00000080 10%, #00000000 50%, #00000000 100%);
		}
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
	}
}

.featured-icon {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
	width: var(--size-lg);
	height: var(--size-lg);
	z-index: 1;
	color: #fbee3c;
	fill: #fbee3c;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	max-height: 220x;
	gap: 0.25rem;
	padding: var(--size-xs) var(--size-md);

	.content-id {
		font-size: 0.9em;
		color: var(--color-success);
	}

	h2 {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.25em;
		margin: 0;
		transition: all 0.3s ease;

		svg {
			width: var(--size-lg);
			height: var(--size-lg);
		}
	}

	p {
		font-size: 0.85em;
		margin: 0 0 var(--size-xs) 0;
		color: var(--color-text-secondary);
		text-align: start;
	}
}

.content-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 0.5rem;
	font-size: 0.85em;
	color: var(--color-text-secondary);
}

.content-difficulty {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.85em;
	border-radius: var(--radius-xs);
	padding: var(--size-xs) var(--size-sm);
	color: var(--color-text-secondary);

	&.content-difficulty-easy {
		color: #10b981;
		background-color: #10b9811a;
	}

	&.content-difficulty-intermediate {
		color: #fbb83c;
		background-color: #fbb83c1a;
	}

	&.content-difficulty-advanced {
		color: #ef7544;
		background-color: #ef75441a;
	}

	&.content-difficulty-expert {
		color: #f51717;
		background-color: #f517171a;
	}
}

.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-border);

	.header-date {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.75em;
		font-weight: 300;

		svg {
			width: var(--size-lg);
			height: var(--size-lg);
		}
	}

	.header-category {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 0.85em;

		svg {
			width: var(--size-lg);
			height: var(--size-lg);
		}
	}
}

.header-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	width: 100%;
	padding: var(--size-sm) var(--size-md);
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-surface-b);
}

.button-details {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.85em;
	color: var(--color-text);
	padding: var(--size-xs) var(--size-sm);
	border-radius: var(--radius-xs);
	border: 1px solid var(--color-secondary);
	background: linear-gradient(
		135deg,
		var(--color-secondary-hover),
		var(--color-secondary),
		var(--color-secondary-hover)
	);
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	text-decoration: none;
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.3s ease;
	z-index: 1;

	&:hover {
		color: var(--color-text);
		filter: brightness(1.2);
	}
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.5rem;
	width: 100%;
	padding: var(--size-sm) var(--size-md);
	box-sizing: border-box;
	background-color: var(--color-surface-d);
	border-top: 1px solid var(--color-border);
}

.footer-link {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.85em;
	color: var(--color-text-secondary);
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		color: var(--color-text);
	}
}
