---
import "@fontsource-variable/jost";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Vanilla JS/TS Collection</title>
	</head>
	<body class="scrollBar">
		<slot />
	</body>
</html>

<style>
	:root {
		/* Base */
		--color-bg: #0f0f0f;
		--color-text: #f0f0f0;
		--color-text-secondary: #a0a0a0;

		/* JS y TS */
		--color-js: #f7df1e;
		--color-ts: #3178c6;

		/* Neutrales */
		--color-surface: #151b22;
		--color-surface-hover: #232c36;
		--color-surface-secondary: #0f1318;
		--color-surface-secondary-hover: #1a2129;
		--color-border: #28394d;
		--color-border-hover: #455468;

		/* Acentos */
		--color-accent: #9b5de5;
		--color-accent-opacity: #9b5de550;
		--color-hover: #7a42be;
		--color-hover-opacity: #7a42be50;

		/* Tamaños */
		--size-xs: 0.25rem;
		--size-sm: 0.5rem;
		--size-md: 0.75rem;
		--size-lg: 1rem;
		--size-xl: 1.5rem;
		--size-2xl: 2rem;
		--max-width: 1200px;

		--radius-xs: 0.25rem;
		--radius-sm: 0.5rem;
		--radius-md: 0.75rem;
		--radius-lg: 1rem;
		--radius-xl: 1.5rem;
		--radius-2xl: 2rem;

		/* Gradientes (opcional) */
		--gradient-js-ts: linear-gradient(90deg, var(--color-js), var(--color-ts));
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	html,
	body {
		margin: 0;
		width: 100svw;
		overflow-x: hidden;
		height: 100%;
		font-family: "Jost Variable", sans-serif;
		background: linear-gradient(135deg, #040507, #0b121d);
		scroll-behavior: smooth;
	}

	.scrollBar {
		scrollbar-width: thin;
		scrollbar-color: var(--color-accent) var(--color-surface);
	}
</style>
