---
import "@fontsource-variable/jost";
const { title, scrollBar } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={scrollBar ? "scrollBar" : "hiddenScrollBar"}>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* Base */
		--color-bg: #0f0f0f;
		--color-text: #f0f0f0;
		--color-text-secondary: #a0a0a0;

		/* JS y TS */
		--color-js: #f7df1e;
		--color-ts: #3178c6;

		--color-success: #99dd3f;
		--color-warning: #fde635;
		--color-danger: #f73737;
		--color-info: #698cff;

		--color-easy: #99dd3f;
		--color-easy-opacity: #99dd3f20;
		--color-intermediate: #fde635;
		--color-intermediate-opacity: #fde63520;
		--color-advanced: #f77d37;
		--color-advanced-opacity: #f77d3720;
		--color-expert: #ff4c4c;
		--color-expert-opacity: #ff4c4c20;

		/* Neutrales */

		--color-surface-a: #080a0f;
		--color-surface-b: #04101b;
		--color-surface-c: #0b121d;
		--color-surface-d: #151b22;
		--color-surface-e: #232c36;
		--color-surface-f: #344150;
		--color-border: #1a2736;
		--color-border-hover: #455468;

		/* Acentos */
		--color-accent: #3ea6ff;
		--color-accent-hover: #288ae0;
		--color-accent-opacity: #3ea6ff20;
		--color-secondary: #4ac2ba;
		--color-secondary-hover: #28a199;
		--color-secondary-opacity: #60d4cd20;

		/* Tamaños */
		--size-2xs: 0.125rem;
		--size-xs: 0.25rem;
		--size-sm: 0.5rem;
		--size-md: 0.75rem;
		--size-lg: 1rem;
		--size-xl: 1.5rem;
		--size-2xl: 2rem;
		--max-width: 1361px;

		--radius-xs: 0.25rem;
		--radius-sm: 0.5rem;
		--radius-md: 0.75rem;
		--radius-lg: 1rem;
		--radius-xl: 1.5rem;
		--radius-2xl: 2rem;
		--radius-full: 50%;

		--font-family: "Jost Variable", sans-serif;

		/* Gradientes (opcional) */
		--gradient-js-ts: linear-gradient(90deg, var(--color-js), var(--color-ts));
	}

	[data-theme="dark"] {
		--color-bg: #fcfcfc;
		--color-text: #0f0f0f;
		--color-text-secondary: #2c2c2c;

		--color-surface-a: #e3e3e6;
		--color-surface-b: #d3d3d6;
		--color-surface-c: #c3c3c6;
		--color-surface-d: #b3b3b6;
		--color-surface-e: #a3a3a6;
		--color-surface-f: #939396;
		--color-border: #737376;
		--color-border-hover: #455468;
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: var(--font-family);
	}

	button {
		cursor: pointer;
	}

	html,
	body {
		width: 100svw;
		overflow-x: hidden;
		height: 100%;
		font-family: var(--font-family);
		scroll-behavior: smooth;
		background: linear-gradient(135deg, var(--color-surface-a), var(--color-surface-b));
	}

	pre {
		color: var(--color-text);
		border-radius: var(--radius-xs);
		padding: var(--size-sm) var(--size-md);
		font-family: monospace !important;

		span {
			font-family: monospace !important;
		}
	}

	i {
		font-style: normal;
		font-family: monospace !important;
		background-color: #24292e;
		padding: var(--size-2xs) var(--size-sm);
		border-radius: var(--radius-xs);
		color: #f7df1e;
	}

	.scrollBar {
		scrollbar-width: thin;
		scrollbar-color: var(--color-accent) var(--color-surface-d);
	}

	.hiddenScrollBar {
		overflow: hidden;
		scrollbar-width: none;
	}
	html.no-transition *,
	html.no-transition *::before,
	html.no-transition *::after {
		transition: none !important;
	}
</style>
